// Generated using xcconfig-extractor 0.5.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
DEVELOPMENT_TEAM = ZR3G7VWCS9
PRODUCT_BUNDLE_IDENTIFIER = com.teranyan.AudioPlayerTests
TEST_HOST = $(BUILT_PRODUCTS_DIR)/AudioPlayer.app/AudioPlayer
BUNDLE_LOADER = $(TEST_HOST)
INFOPLIST_FILE = AudioPlayerTests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

